@use './variable' as *;

// 재활용

@mixin position($top:absolute,$start:0,$end:0){
    position: $top;
    left: $start; top: $end;
    @content;
}

@mixin post($abs:absolute,$right:0,$to:0){
    position: $abs;
    right: $right; top: $to;
    @content;
}

@mixin layout($wrap:nowrap,$justify:center){
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    @content;
}

@mixin margin($bottom:0){
    margin: 0 auto;
    margin-bottom:$bottom;
    @content;
}

@mixin border($base:#888){
    border: 1px solid $base;
}
@mixin info($down:0,$style:$black){
    font-size: $size;
    color: $style;
    margin-bottom: $down;
    @content;
}

@mixin padding{
    padding: 60px 0 77px;
    @content;
}